<!DOCTYPE html>
<html>
<head>
  <title>Don Alain Juppé 2017</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render 'layouts/navbar' %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
