<!DOCTYPE html>
<html>
<head>
  <title>Don Alain Juppé 2017</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <%= render 'layouts/navbar' %>
  <div id="bg-container" class="container-fluid">
    <div class="container">
      <%= yield %>
    </div>
    <div class="container">
      <div class="col-xs-12">
        <p style="color:white;text-align:justify;font-size:10px;">
          Les dons et cotisations aux partis politiques sont plafonnés à 7500€ par personne et par an pour l’ensemble des formations politiques, conformément à l’article 11-4 de la loi n°88-227 du 11 mars 1988.<br/>
          Votre don vous donne droit à une réduction annuelle d'impôt sur le revenu à hauteur de 66% de son montant, dans la double limite de 20% du revenu imposable et de 15 000 € par foyer fiscal.<br/>
          Les informations que vous nous communiquez sont nécessaires à la gestion de vos dons et de nos relations. Elles sont exclusivement réservées à l’usage du CAP AJ POUR LA FRANCE et de l’ANFCAPAJ (Association nationale de financement du CAP AJ POUR LA FRANCE) agrément CNCCFP du 20/10/2014.<br/>
          En complétant ce formulaire, vous autorisez celles-ci à utiliser vos données pour des opérations de communication politique et de dons.<br/>
          Vos informations ne pourront être communiquées qu’à des co-contractants qui, en leur qualité de sous-traitants du CAP AJ POUR LA FRANCE n’agiront que sur instruction de ce dernier et seront soumis à une stricte obligation de confidentialité. Certains de ces partenaires ont des activités dans des pays situés en dehors de l’Union Européenne, notamment aux fins d’hébergement des données. Pour s’assurer d’un niveau de protection suffisant, vos données ne seront toutefois transférées que dans des pays présentant une protection adéquate au regard des garanties imposées par la loi du 6 janvier 1978 ou, en ce qui concerne les Etats-Unis, à des entités adhérant aux principes du Safe Harbor.<br/>
          En application des articles 38 et suivants de la loi du 6 janvier 1978, vous bénéficiez des droits d’accès, de rectification, de suppression et d’opposition aux informations vous concernant. Vous pouvez exercer ces droits en écrivant à : donateurs@ajpourlafrance.fr ou à LE CAP AJ POUR LA FRANCE – 29, bld Raspail, 75007 PARIS
        </p>
      </div>
    </div>
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-72024732-3', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
